<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="comp367lab4q1-feed" value="https://pkgs.dev.azure.com/dbrar25/Comp367Lab4Q1/_packaging/comp367lab4q1-feed/nuget/v3/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<comp367lab4q1-feed>
			<add key="Username" value="dbrar25" />
			<add key="ClearTextPassword" value="2s0HJrlmdIBmNJdky0MFaDCBJLYOBcyj9b97qkR0QrZ15hWlcI9OJQQJ99BDACAAAAAnPw96AAASAZDO4eyz" />
		</comp367lab4q1-feed>
	</packageSourceCredentials>
</configuration>
